/* .div {
    background:antiquewhite;
    width:200px;
    height:200px;
    position: relative;
    left:50%;
    transform: translate(100px, 0px);
    transition: all 0.8s ease 0s;
    margin: 0 auto;
    margin-top:300px;
} */

/* .div:hover {
    transform: translate(0px,0px);
    transform: scale(1,2);
    transform: scale(-1,1);
    transform: rotate(180deg);
    transform: skew(10deg, 0deg);
    transform: matrix(1,0,0,1,0,0);
    transform: rotate(30deg);
    transform-origin: left bottom;
} */

* {
    margin: 0;
    padding: 0;
}

body, html {
    width:100%;
    height:100%;
}

.wrapper {
    background: #1C1B21;
    width:100%;
    display: flex;
    flex-direction: column;
}

.gallery {
    width:100%;
    height:100%
}

.gallery-content {
    margin-top: 222px !important;
    margin: 0 auto;
    width:1110px;
    height:500px;
    display: flex;
    justify-content: space-evenly;
}

.gallery-sides {
    width:255px;
}

.side-left img:hover {
    transition: all 0.8s ease 0s;
    transform: translate(-50px,-70px);
}

.side-right img:hover {
    transition: all 0.8s ease 0s;
    transform: translate(50px,-70px);
}

#pic2:hover {
    transition: all 1.4s ease 0s;
    transform: rotate(360deg);
}

#pic3:hover {
    transition: all 1.4s ease 0s;
    transform: rotate(360deg);
}

#pic5:hover {
    transition: all 0.8s ease 0s;
    transform: skew(30deg, -12deg);
    width:110%;
    height:110%;
}

.gallery-center-side {
    width:540px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-center-up {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.events {
    margin-top:180px;
    width:100%;
    height:473px;
}

.events-content {
    margin: 0 auto;
    width:1270px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event {
    width: 350px;
    height: 473px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background: #2F2B2B;
    border-radius: 30px 0px;
}
.event p {
    margin-left:30px;
}

.event p:nth-child(1) {
    margin-left:40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    opacity: 0.5;
}

.event p:nth-child(2) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.event p:nth-child(3) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.event-down {
    display: flex;
    height:60px;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.event-down button {
    width: 180px;
    height: 60px;
    background: #7A66CC;
    border-radius: 30px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#pic6:hover {
    transition: all 0.8s ease 0s;
    transform: matrix(1,0,0,1,0,0);
    transform: rotate(30deg);
    transform-origin: left bottom;
}

#pic7:hover {
    transition: all 0.8s ease 0s;
    transform: scale(1.2,1.2);
}

#pic8:hover {
    transition: all 0.8s ease 0s;
    transform: matrix(1,0,0,1,0,0);
    transform: rotate(-30deg);
    transform-origin: right bottom;
}

.footer {
    margin-top:180px;
    width:100%;
    height:414px;
}

.footer-content {
    margin: 0 auto;
    width:533px;
    height:100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-feedback {
    display: flex;
    width:533px;
    height:54px;
    color:white;
}

.feedback-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    height:100%;
    width:199px;
}

.feedback-left p {
    text-align: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
}

.feedback-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width:304px;
}

.feedback-right p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    margin-left:30px;
}

.footer-social {
    width:510px;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}

#logo-pic:hover {
    transition: all 1.2s ease 0s;
    transform: scale(-1,1);
}

#apple-logo-pic:hover {
    transition: all 0.8s ease 0s;
    transform: scale(-1,1);
}

#spotify-logo-pic:hover {
    transition: all 0.8s ease 0s;
    transform: scale(1.4,1.4);
    
}

#instagram-logo-pic:hover {
    transition: all 0.8s ease 0s;
    transform: scale(1.4,1.4);
}

#youtube-logo-pic:hover {
    transition: all 0.8s ease 0s;
    transform: scale(-1,1);
}

#twitter-logo-pic:hover {
    transition: all 0.8s ease 0s;
    transform: scale(1.4,1.4);
}

#facebook-logo-pic:hover {
    transition: all 0.8s ease 0s;
    transform: scale(-1,-1);
}