.header {
    margin-top:0px;
}

.about_company {
    width:100%;
    height:1040px;
    margin-top:38px;
}
.ac-content {
    height:100%;
    margin: 0 auto;
}

.ac-content-header {
    width:100%;
    height:50px;
}

.ac-content-top {
    width:1479px;
    height:424px;
    display: flex;
    align-items: center;
    /* background:red; */
}

.ac-content-top-left {
    border-color: black;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width:852px;
    height:100%;
}

.ac-content-top-left img {
    height:392px;
    width:758px;
}

.ac-content-top-right {
    width:606px;
    height:242px;
    margin-left:63px;
    display: flex;
}

.ac-content-top-right p {
    width:565px;
    height:242px;
    margin:12px 0px 0px 13px;
}

.ac-content-bottom {
    margin:36px;
    width:1518px;
    height:504px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ac-content-bottom-left {
    width:653px;
    height:361px;
}

.ac-content-bottom-text {
    position: relative;
    margin-bottom:51px;
    display: flex;
}

.ac-content-bottom-text p {
    width:605px;
    height:146px;
    margin:13px 0px 0px 16px;
}


.ac-content-bottom-right {
    border-color: black;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width:810px;
    height:504px;
}

.ac-content-bottom-right img{
    width:724px;
    height:459px;
}

.reviews {
    margin-top:66px;
    width:100%;
    height:334px;
}

.reviews-content {
    margin: 0 auto;
    height:100%;
}

.reviews-content-header {
    height:50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-content-header h1 {
    font-size: 36px;
}

.review {
    margin: 0 auto;
    margin-top:34px;
    width:925px;
    height:250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-content {
    margin: 0 auto;
    background: rgba(196, 196, 196, 0.25);
    border-radius: 10px;
    width:807px;
    height:100%;
    padding:16px 27px 17px 33px;
}

.review-content-wrapper {
    width:747px;
    height:216px;
    display: flex;
}

.review-img {
    width:100px;
    height:100px;
    border-radius: 50px;
    /* position:relative; */
}

.review-text {
    margin:20px 0px 0px 25px;
    width: 622px;
    height:196px;
    display: flex;
    flex-direction: column;
}

#review-text-name {
    height:20px;
}

#review-date {
    margin-top:10px
}

#review-text {
    max-width:562px;
    margin-top:22px;
}



.review-likes {
    margin-top:10px;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: end;
    width:100%;
    height:20px;
}

.review-likes p {
    margin-right:6px;
}